version: '3.9'

services:
  db:
    image: postgres:16
    container_name: dnevnica-db
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
